html {
	background-color: #FBF8EA;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	padding: 0px;
}

.block {
	height: 100vh;
	background-color: #white;
	margin: 0px;
	min-height: 600px;
	position: relative;
	box-shadow: 0px -10px 10px #eee;
}

.content {
	width: 100%;
	height: 75vh;
	display: flex;
}

.text {
	font-family: 'Comfortaa', cursive;
	font-size: 30px;
	margin: 20px;
	padding: 20px;
	padding-right: 80px;
	padding-left: 30px;
}


.col2l {
	flex: 30%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 20px;
}

.col2r {
	flex: 70%;
	margin: 20px;
	background-color: #f8f8f8;
	border-radius: 50px;
	margin-right: 100px;
	margin-bottom: 60px;
	box-shadow: 5px 5px 5px #ccc;
}


.col3l {
	flex: 70%;
	margin: 20px;
	background-color: #f8f8f8;
	border-radius: 50px;
	margin-left: 100px;
	margin-bottom: 60px;
	box-shadow: 5px 5px 5px #ccc;
}
.col3r {
	flex: 30%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 20px;
}

.landingTitle {
	position: absolute;
	font-family: 'Comfortaa', cursive;
	font-size: 60px;
	text-align: left;
	left: 60px;
	top: 60px;
	color: #415d8a;
	font-weight: 1000;
	text-shadow: 2px 2px #ccc;
}

.landingSubtitle {
	position: absolute;
	font-family: 'Comfortaa', cursive;
	font-size: 24px;
	text-align: right;
	right: 60px;
	bottom: 60px;
	color: #415d8a;
}

.blockTitle {
	font-family: 'Comfortaa', cursive;
	font-size: 60px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #415d8a;
	font-weight: 900;
	text-shadow: 3px 3px 3px #ccc;
}

#block1 {
	background-image: url("titlepage.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	}

.navButton {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 6px;
	padding-top: 15px;
	left: 0;
	right: 0;
	border: 0px;
	border-radius: 50px;
	color: white;
	font-size: 30px;
	background-color: #eee;
}

.navButton:hover {
	background-color: #ccc;
}